config:
  core.https_address: 9.9.9.87:8443
  core.trust_password: {{vv_lxd_core_trust_password}}
networks:
- config:
    bridge.mode: fan
    fan.underlay_subnet: auto
  description: ""
  managed: false
  name: lxdfan0
  type: ""
profiles:
- config: {}
  description: ""
  devices:
    eth0:
      name: eth0
      nictype: bridged
      parent: lxdfan0
      type: nic
    root:
      path: /
      pool: local
      type: disk
  name: default
cluster:
  server_name: vv-infrablu-cp0
  enabled: true
  member_config: []
  cluster_address: ""
  cluster_certificate: ""
  server_address: ""
  cluster_password: ""

# storage_pools:
# - config:
#     size: 91GB
#   description: ""
#   name: local
#   driver: btrfs
