
kind: PersistentVolume
apiVersion: v1
metadata:
  name: "{{ openvpn_pv_name }}"
  labels:
    type: local
spec:
  capacity:
    storage: "{{openvpn_storage_capacity}}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ openvpn_host_path }}"
