kind: Service
apiVersion: v1
metadata:
  name: jenkins-nodeport-svc # "{{ jenkins_nodeport_svc_name }}"
  namespace: default # "{{ jenkins_namespace }}"
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30000 # "{{ jenkins_nodeport_port }}"
  selector:
    app.kubernetes.io/component: jenkins-master # "{{ jenkins_k8_component_name }}"
    app.kubernetes.io/instance: vv-k8-jenkins # "{{ jenkins_k8_release_name }}"
