
kind: PersistentVolume
apiVersion: v1
metadata:
  name: "{{ jenkins_pv_name }}"
  labels:
    type: local
spec:
  capacity:
    storage: "{{jenkins_storage_capacity}}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ jenkins_host_path }}"
