kind: StorageClass
apiVersion: storage.k8s.io/v1
metadata:
  name: "{{k8_local_storage_class_name}}"
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: "{{k8_local_storage_volume_binding_mode}}"