kind: PersistentVolume
apiVersion: v1
metadata:
  name: "{{ item.kafka_k8_pv_name }}"
  labels:
    type: local
spec:
  storageClassName: "{{kafka_k8_storage_class_name}}"
  capacity:
    storage: "{{item.kafka_k8_storage_capacity}}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "{{ item.kafka_k8_host_path }}"
