kind: Service
apiVersion: v1
metadata:
  name: "{{ zookeeper_nodeport_svc_name }}"
  namespace: "{{ kafka_k8_namespace }}"
spec:
  type: NodePort
  ports:
    - port: 2181 #"{{ zookeeper_k8_container_port }}"
      targetPort: 2181 # "{{ zookeeper_k8_container_port }}"    some bug with ansible jinja and uint32
      nodePort: 30700 # "{{ zookeeper_nodeport_port }}"
  selector:
    app.kubernetes.io/component: "{{zookeeper_k8_component_name }}"
    app.kubernetes.io/instance: "{{ zookeeper_k8_release_name }}"
