// Athena Character configuration file.

// Note: "Comments" are all text on the right side of a double slash "//"
// Whatever text is commented will not be parsed by the servers, and serves
// only as information/reference.

// Server Communication username and password.
userid: {{server_communication_userid}} // s1
passwd: {{server_communication_password}}  // p1

// Server name, use alternative character such as ASCII 160 for spaces.
// NOTE: Do not use spaces in the name, or guild emblems won't work client-side!
server_name: {{eathena_server_name}} // eAthena

// Wisp name for server: used to send wisp from server to players (between 4 to 23 characters)
wisp_server_name: {{wisp_server_name}} //Server

// Login Server IP
// The character server connects to the login server using this IP address.
// NOTE: This is useful when you are running behind a firewall or are on
// a machine with multiple interfaces.
login_ip: {{login_server_ip}} //127.0.0.1

// The character server listens on the interface with this IP address.
// NOTE: This allows you to run multiple servers on multiple interfaces
// while using the same ports for each server.
bind_ip: {{char_server_ip}} //127.0.0.1

// Login Server Port
login_port: {{login_server_port}} //6900

// Character Server IP
// The IP address which clients will use to connect.
// Set this to what your server's public IP address is.
char_ip: {{char_server_ip}} //127.0.0.1

// Character Server Port
char_port: {{char_server_port}} //6121

//Time-stamp format which will be printed before all messages.
//Can at most be 20 characters long.
//Common formats:
// %I:%M:%S %p (hour:minute:second 12 hour, AM/PM format)
// %H:%M:%S (hour:minute:second, 24 hour format)
// %d/%b/%Y (day/Month/year)
//For full format information, consult the strftime() manual.
//timestamp_format: [%d/%b %H:%M]

//If redirected output contains escape sequences (color codes)
stdout_with_ansisequence: no

//Makes server output more silent by ommitting certain types of messages:
//1: Hide Information messages
//2: Hide Status messages
//4: Hide Notice Messages
//8: Hide Warning Messages
//16: Hide Error and SQL Error messages.
//32: Hide Debug Messages
//Example: "console_silent: 7" Hides information, status and notice messages (1+2+4)
console_silent: 0

// Console Commands
// Allow for console commands to be used on/off
// This prevents usage of >& log.file
console: off

// Option to force a player to create an e-mail.
// If a player have default e-mail, and if you activate this option, the player can only connect in the game (to arrive on a map) like follow:
// - Create at least 1 character
// - Select 1 character
// - Select DEL to enter his/her e-mail. (if OK is choosen, client says to the player: 'invalid e-mail')
// - If his/her e-mail is correct, the player enter in the game (an e-mail is saved definitively).
// - If his/her e-mail is incorrect, he/she have 'incorrect e-mail' and must select again DEL.
// - After entering in the game (when the player arrives on a map), DEL and SEL/OK button work normaly for all next connections.
// Resume: If a player have "incorrect/invalid e-mail" when he/she click on 'OK' button,
//         the player must click 'DEL' button and register his/her NEW e-mail to enter in the game
// So, default is 0, because administrator must explain to their players before to activate this option.
email_creation: 0

// Type of server.
// No functional side effects at the moment.
// Displayed next to the server name in the client.
// 0=normal, 1=maintenance, 2=over 18, 3=paying, 4=P2P
char_maintenance: 0

// Enable or disable creation of new characters.
// Now it is actually supported [Kevin]
char_new: 1

// Display (New) in the server list.
char_new_display: 0

// Maximum users able to connect to the server. Set to 0 for unlimited.
max_connect_user: 0

// Minimum GM level that is allowed to bypass the server limit of users.
gm_allow_level: 99

// How often should the server save all files? (In seconds)
// Note: Applies to all data files on TXT servers.
// On SQL servers, it applies to guilds (character save interval is defined on the map config)
autosave_time: 60

// Display information on the console whenever characters/guilds/parties/pets are loaded/saved? 
save_log: yes

// Character server flatfile database
char_txt: save/athena.txt

// Friends list flatfile database
friends_txt: save/friends.txt

// Start point, Map name followed by coordinates (x,y)
start_point: new_1-1,53,111

// Starting weapon for new characters
start_weapon: 1201

// Starting armor for new characters
start_armor: 2301

// Starting zeny for new characters
start_zeny: 0

// Size for the fame-lists
fame_list_alchemist: 10
fame_list_blacksmith: 10
fame_list_taekwon: 10

// Guild earned exp modifier.
// Adjusts taxed exp before adding it to the guild's exp. For example, if set 
// to 200, the guild receives double the player's taxed exp.
guild_exp_rate: 100

// Name used for unknown characters
unknown_char_name: Unknown

// To log the character server?
log_char: 1

// Log Filename
char_log_filename: log/char.log

// Allow or not identical name for characters but with a different case (upper/lower):
// example: Test-test-TEST-TesT; Value: 0 not allowed (default), 1 allowed
name_ignoring_case: no

// Manage possible letters/symbol in the name of charater. Control character (0x00-0x1f) are never accepted. Possible values are:
// NOTE: Applies to character, party and guild names.
// 0: no restriction (default)
// 1: only letters/symbols in 'char_name_letters' option.
// 2: Letters/symbols in 'char_name_letters' option are forbidden. All others are possibles.
char_name_option: 1

// Set the letters/symbols that you want use with the 'char_name_option' option.
// Note: Don't add spaces unless you mean to add 'space' to the list.
char_name_letters: abcdefghijklmnopqrstuvwxyz ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890

// How many Characters are allowed per Account ? (0 = disabled)
chars_per_account: 0

// Restrict character deletion by BaseLevel
// 0: no restriction (players can delete characters of any level)
// -X: you can't delete chars with BaseLevel <= X
// Y: you can't delete chars with BaseLevel >= Y
// e.g. char_del_level: 80 (players can't delete characters with 80+ BaseLevel)
char_del_level: 0

// Amount of time in seconds by which the character deletion is delayed.
// Default: 86400 (24 hours)
// NOTE: Requires client 2010-08-03aragexeRE or newer.
char_del_delay: 86400

// What folder the DB files are in (item_db.txt, etc.)
db_path: db

//NOTE: The following online listing options are only for TXT servers.

// Filename of the file which receives the online players list in text
online_txt_filename: online.txt

// Filename of the file which receives the online players list, but in html version
online_html_filename: online.html

// Choose how to display online players.
// (sorting operation with a lot of online players can take time on a slow computer)
// 0: no sorting (default)
// 1: by alphabetical order of their name
// 2: by number of their zenys
// 3: by their base level
// 4: by their job (and job level inside the same job)
// 5: by alphabetical order of their actual map location
online_sorting_option: 0

// Choose which columns that you want display in the online files. Do the addition of these values:
// (if value is 0, no file is done)
// 1: name (just the name, no function like 'GM')
// 2: job
// 4: levels
// 8: map name
// 16: mapname and coordonates
// 32: zenys
// 64: name (with 'GM' if the player is a GM)
// default value: 1 (only name)
online_display_option: 1

// minimum GM level to display 'GM' when we want to display it (default: 1)
online_gm_display_min_level: 20

// refresh time (in sec) of the html file in the explorer (default 20)
online_refresh_html: 20

import: conf/import/char_conf.txt
