// Athena Login Server configuration file.
// Translated by Peter Kieser <pfak@telus.net>

// Note: "Comments" are all text on the right side of a double slash "//"
// Whatever text is commented will not be parsed by the servers, and serves
// only as information/reference.

// The login server listens on the interface with this IP address.
// NOTE: This allows you to run multiple servers on multiple interfaces
// while using the same ports for each server.
bind_ip: {{cgu_athena_login_bind_ip}} // 127.0.0.1
 
// Login Server Port
login_port: {{cgu_athena_login_port}} // 6900

//Time-stamp format which will be printed before all messages.
//Can at most be 20 characters long.
//Common formats:
// %I:%M:%S %p (hour:minute:second 12 hour, AM/PM format)
// %H:%M:%S (hour:minute:second, 24 hour format)
// %d/%b/%Y (day/Month/year)
//For full format information, consult the strftime() manual.
//timestamp_format: [%d/%b %H:%M]

//If redirected output contains escape sequences (color codes)
stdout_with_ansisequence: no

//Makes server output more silent by ommitting certain types of messages:
//1: Hide Information messages
//2: Hide Status messages
//4: Hide Notice Messages
//8: Hide Warning Messages
//16: Hide Error and SQL Error messages.
//32: Hide Debug Messages
//Example: "console_silent: 7" Hides information, status and notice messages (1+2+4)
console_silent: 0

// Console Commands
// Allow for console commands to be used on/off
// This prevents usage of >& log.file
console: off

// Can you use _M/_F to make new accounts on the server?
new_account: yes

// Account registration flood protection system
// allowed_regs is the number of registrations allowed in time_allowed (in seconds)
allowed_regs: 1
time_allowed: 10

// Log Filename. All operations received by the server are logged in this file. 
login_log_filename: log/login.log

// To log the login server?
// NOTE: The login-sql server needs the login logs to enable dynamic pass failure bans.
log_login: yes

// Indicate how to display date in logs, to players, etc.
date_format: %Y-%m-%d %H:%M:%S

// Indicate the minimum GM level of player that the server accepts to connection.
// 0: all players (normal player are 0. it's default), 1-99: GM level at least with level x
min_level_to_connect: 0

// Starting additional sec from now for the limited time at creation of account
// -1: new account are created with UNlimited time (default value)
// 0 or more: new accounts was created by addition of the value (in sec) to the actual time (to set first limited time)
start_limited_time: -1

// Check The clientversion set in the clientinfo ?
check_client_version: no

// What version we would allow to connect? (if the options above is enabled..)
client_version_to_connect: 20

// Store passwords as MD5 hashes instead of plaintext ?
// NOTE: Will not work with clients that use <passwordencrypt>
use_MD5_passwords: no

// Ipban features (SQL only)
ipban.enable: yes
//ipban.sql.db_hostname: 127.0.0.1
//ipban.sql.db_port: 3306
//ipban.sql.db_username: ragnarok
//ipban.sql.db_password: ragnarok
//ipban.sql.db_database: ragnarok
//ipban.sql.codepage: 
//ipban.sql.ipban_table: ipbanlist
// Dynamic password failure ipban system
ipban.dynamic_pass_failure_ban: yes
ipban.dynamic_pass_failure_ban_interval: 5
ipban.dynamic_pass_failure_ban_limit: 7
ipban.dynamic_pass_failure_ban_duration: 5

// Interval (in seconds) to clean up expired IP bans. 0 = disabled. default = 60.
// NOTE: Even if this is disabled, expired IP bans will be cleaned up on login server start/stop.
// Players will still be able to login if an ipban entry exists but the expiration time has already passed.
ipban_cleanup_interval: 60

// Interval (in minutes) to execute a DNS/IP update. Disabled by default.
// Enable it if your server uses a dynamic IP which changes with time.
//ip_sync_interval: 10

// DNS Blacklist Blocking
// If enabled, each incoming connection will be tested against the blacklists
// on the specified dnsbl_servers (comma-separated list)
use_dnsbl: no
dnsbl_servers: dnsbl.deltaanime.net

// Which account engine to use.
// 'auto' selects the first engine available (txt, sql, then others)
// (defaults to auto)
account.engine: auto

// Account data storage configuration
// TXT
account.txt.account_db: save/account.txt
account.txt.case_sensitive: no
// SQL
//account.sql.db_hostname: 127.0.0.1
//account.sql.db_port: 3306
//account.sql.db_username: ragnarok
//account.sql.db_password: ragnarok
//account.sql.db_database: ragnarok
//account.sql.codepage: 
//account.sql.case_sensitive: no
//account.sql.account_db: login
//account.sql.accreg_db: global_reg_value

import: conf/inter_athena.conf
import: conf/import/login_conf.txt
